# AWS / Security
*.pem
*.ppk
.env
.env.*
.aws/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs / temporary files
*.log
*.tmp
*.temp